* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0071fe;
  --error-color: #f23648;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
  --large-height: 44px;
  --middle-height: 38px;
  --small-height: 32px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

form {
  width: 300px;
  margin: 0px auto;
}

.submit-btn {
  background: var(--primary-color);
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 7px;
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* text Input */

.form-item {
  position: relative;
  margin-bottom: calc(1em * 1.5);
}

.label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

.textInputContainer {
  height: var(--large-height);
}

.input,
.v-select .vs__search {
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: #f2f5f7;
  padding: 0 10px;
  height: 100%;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.v-select .vs__search {
  margin: 0 !important;
  padding: 0 10px !important;
  border: none !important;
}

.v-select .vs__selected-options {
  display: contents !important;
}
.v-select .vs__actions {
  padding-top: 0 !important;
}
.v-select .vs__selected {
  margin-top: 0 !important;
}
.v-select .vs__selected-options {
  padding: 0 !important;
}
.v-select .vs__dropdown-toggle {
  outline: none;
  padding: 0;
  height: 100%;
  border: none !important;
  width: 100%;
}
.v-select {
  border: 2px solid transparent;
  height: var(--large-height);
  background-color: #f2f5f7;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.v-select .vs__dropdown-menu {
  border: none !important;
}

.input:focus,
.v-select-focus {
  border-color: var(--primary-color);
}

.help-message {
  position: absolute;
  bottom: calc(-1.5 * 1em);
  left: 0;
  margin: 0;
  font-size: 14px;
}

.form-item.has-error .input,
.form-item.has-error .v-select,
.form-item.has-error .vs__search {
  background-color: var(--error-bg-color);
  color: var(--error-color);
}

.form-item.has-error .input:focus,
.form-item.has-error .v-select-focus {
  border-color: var(--error-color);
}

.form-item.has-error .help-message {
  color: var(--error-color);
}

.form-item.success .input,
.form-item.success .v-select,
.form-item.success .vs__search {
  background-color: var(--success-bg-color);
  color: var(--success-color);
}

.form-item.success .input:focus,
.form-item.success .v-select-focus {
  border-color: var(--success-color);
}

.form-item.success .help-message {
  color: var(--success-color);
}
