* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0071fe;
  --error-color: #f23648;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;

  width: 100%;
  height: 100%;
}

form {
  width: 300px;
  margin: 0px auto;
  padding-bottom: 60px;
}

.submit-btn {
  background: var(--primary-color);
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 7px;
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

/* text Input */

.form-item {
  position: relative;
  margin-bottom: calc(1em * 1.5);
}
.TextInput {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

input,
select {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 10px;
  outline: none;
  background-color: #f2f5f7;
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

input:focus,
select:focus {
  border-color: var(--primary-color);
}

.help-message {
  position: absolute;
  bottom: calc(-1.5 * 1em);
  left: 0;
  margin: 0;
  font-size: 14px;
}

.form-item.has-error input,
.form-item.has-error select {
  background-color: var(--error-bg-color);
  color: var(--error-color);
}

.form-item.has-error input:focus,
.form-item.has-error select:focus {
  border-color: var(--error-color);
}

.form-item.has-error .help-message {
  color: var(--error-color);
}

.form-item.success input,
.form-item.success select {
  background-color: var(--success-bg-color);
  color: var(--success-color);
}

.form-item.success input:focus,
.form-item.success select:focus {
  border-color: var(--success-color);
}

.form-item.success .help-message {
  color: var(--success-color);
}
